<a href="https://colab.research.google.com/github/dongupak/Prime-Python/blob/master/jupyter-notebook/Ch03_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **생능 출판사 "으뜸 파이썬"(1판) 교재의 소스 코드**
# *3장 제어문*
---
* 출판사 : 생능 출판사( http://www.booksr.co.kr/ )
* 으뜸 파이썬 저자 : 박동규, 강영민 
*  소스코드 저장소 : https://github.com/dongupak/Prime-Python
*  저작권 : 본 주피터 노트북 코드는 자유롭게 배포가능하지만 위의 출판사, 저서, 저자표기와 함께 배포해 주십시오.
---


# 코드 3-1 : 순차적 실행 구조를 이용한 변수의 덧셈
## seq_test.py

In [ ]:
num = 100
print('num =', num)  # 100이 출력됨
num = num + 100
print('num =', num)  # num에 100이 더해져 200이 출력됨
num = num + 100
print('num =', num)  # num에 다시 100이 더해져 300이 출력됨

# 코드 3-2 : if 조건문을 이용한 출력기능(조건을 만족하는 경우)
## if_youth_discount.py

In [ ]:
age = 18        # age가 20 미만의 값

if age < 20:    # age < 20 조건식의 결과는 True임   
    print('청소년 할인')

# 코드 3-3 : if 조건문을 이용한 출력기능(조건을 만족하지 않는 경우)
## if_youth_discount.py

In [ ]:
age = 24     # age가 20 이상의 값

if age < 20: # age < 20 조건식의 결과는 False임   
    print('청소년 할인')

# 코드 3-4 : if 조건문을 이용한 출력기능(조건을 만족하는 경우)
## if_walk_count.py

In [ ]:
walk_count = 1200

if walk_count >= 1000:  # walk_count >= 1000 조건의 결과는 True임
    print('목표 달성')

# 코드 3-5 : 들여쓰기 없는 print() 문
## if_youth_error.py

In [ ]:
age = 18

if age < 20:
print('청소년 할인')  # 들여쓰기 없는 print()문

[들여쓰기 코드 1] 조건을 만족하는 경우

In [ ]:
age = 18 
if age < 20:
    print('청소년 할인') 
print('입장을 환영합니다')

[들여쓰기 코드 2] 조건을 만족하지 않는 경우

In [ ]:
age = 24
if age < 20:
    print('청소년 할인')
print('입장을 환영합니다')

[들여쓰기 코드 3] 조건을 만족하는 경우

In [ ]:
age = 18

if age < 20:
    print('나이', age)
    print('청소년 환영')
    print('청소년 할인')

[들여쓰기 코드 4] 조건을 만족하지 않는 경우

In [ ]:
age = 24

if age < 20:
    print('나이', age)
    print('청소년 환영')
    print('청소년 할인')

[들여쓰기 코드 5] 
들여쓰기가 잘못된 경우(들여쓰기의 크기가 일정하지 않음)

In [ ]:
age = 18
if age < 20:
    print('나이', age)
  print('청소년 환영')

## 대화창 실습 : 대화형 모드를 통한 블록과 들여쓰기 실습

In [ ]:
num = 300
if num > 200:
     print('num은 200보다 큽니다')

# 코드 3-6 : 3과 5의 배수를 판단하기 위한 모듈로 연산과 조건문
## if_modulo1.py

In [2]:
number = int(input('정수를 입력하세요 : ')) # 입력값을 정수형으로 변환
if (number % 3) == 0:    # 모듈로 3의 값이 0이면 3의 배수임
    print(number, '은(는) 3의 배수입니다.')

6 은(는) 3의 배수입니다.

# 코드 3-7 : 3과 5의 배수를 판단하기 위한 모듈로 연산과 and 조건문 
## if_modulo2.py

In [3]:
number = int(input('정수를 입력하세요 : ')) 
if (number % 3) == 0 and (number % 5) == 0:    # 오류 : 책에는 3으로 표기됨
    print(number, '은(는) 3의 배수이면서 5의 배수입니다.')

15 은(는) 3의 배수이면서 5의 배수입니다.

# 코드 3-8 : if문을 이용한 ‘오전’ 혹은 ‘오후’의 출력기능
## if_hour_test.py

In [ ]:
hour = 10
if hour < 12:
    print('오전입니다.')

if hour >= 12:
    print('오후입니다.')

# 코드 3-9 : if-else 문을 이용한 ‘오전’ 혹은 ‘오후’의 출력 기능
## if_else_hour_test.py

In [ ]:
hour = 10

if hour < 12:
    print('오전입니다.')
else:
    print('오후입니다.')

# 코드 3-10 : if-else 문을 이용한 ‘음수’ 혹은 ‘음수아님’의 출력기능
## if_else_minus_test.py

In [ ]:
num = -10

if num < 0:
   print(num, '은(는) 음수입니다.')
else:
   print(num, '은(는) 음수가 아닙니다.')

# 코드 3-11 : if-else 문을 이용한 ‘짝수’ 혹은 ‘홀수’의 출력기능
## if_else_even_test.py

In [ ]:
num = 10

if num % 2 == 0:
    print(num, '은(는) 짝수입니다.')
else:
    print(num, '은(는) 홀수입니다.')

# 코드 3-12 : 외부 if-else문과 내부 if-else문의 사용
## if_block.py

In [ ]:
num = 100

if num < 0:
    print(num, '은(는) 음수입니다.')
else:
    print(num, '은(는) 음수가 아닙니다.')
    
    # 짝수, 홀수는 음수가 아닌 경우에만 판별합니다
    if num % 2 == 0:
        print(num, '은(는) 짝수입니다.')
    else:
        print(num, '은(는) 홀수입니다.')

## 대화창 실습 : 조건식 실습

In [1]:
0 < 10         # 조건식이 참 'True' 출력

True

In [ ]:
4 > 10         # 조건식이 거짓 'False' 출력

In [ ]:
3 <= 10        # 조건식이 참 'True' 출력

In [ ]:
15 >= 10       # 조건식이 참 'True' 출력

In [ ]:
1 == 2         # 조건식이 거짓 'False' 출력

In [ ]:
True or False  # 조건식이 참 'True' 출력

In [ ]:
True and False # 조건식이 거짓 'False' 출력

# 코드 3-13 : and와 or 조건문의 사용법
## if_and_or_test.py

In [ ]:
a = 10
b = 14   # 13으로 수정하면 첫 번째 조건문을 만족하지 않음
if (a % 2 == 0) and (b % 2 == 0):  # 첫 번째 조건문
    print('두 수 모두 짝수입니다.')
    
if (a % 2 == 0) or (b % 2 == 0):  # 두 번째 조건문
    print('두 수 중 하나 이상이 짝수입니다.')

# 코드 3-14 : 윤년을 판별하기 위한 식
## if_leapyear_test.py

In [ ]:
# 윤년 판별하기
year = int(input('연도를 입력하세요: '))
is_leap_year = ((year % 4 == 0) and (year % 100!=0) or (year % 400 == 0))
print(year, '년은 윤년입니까?', is_leap_year)

# 코드 3-15 : 'A','B','C','D','F' 등급 계산을 위한 if문
## if_grade1.py

In [ ]:
score = int(input('점수를 입력하세요 : '))

if score >= 90 :                 # 90 이상인 경우 ‘A’
    grade = 'A'
if score < 90 and score >= 80 :  # 90 미만 80 이상인 경우 ‘B’
    grade = 'B'
if score < 80 and score >= 70 :  # 80 미만 70 이상인 경우 ‘C’
    grade = 'C'
if score < 70 and score >= 60  : # 70 미만 60 이상인 경우 ‘D’
    grade = 'D'
if score < 60 :                  # 60 미만인 경우 ‘F’
    grade = 'F'

print('당신의 등급은 :', grade)

# 코드 3-16 : 'A','B','C','D','F' 등급 계산을 위한 복합 if 문
## if_grade2.py

In [ ]:
score = int(input('점수를 입력하세요 : '))

if score >= 90:       # 90 이상인 경우 ‘A’
    grade = 'A'
else:
    if score >= 80 :  # 90 미만 80 이상인 경우 ‘B’
        grade = 'B'
    else:
        if score >= 70:  # 80 미만 70 이상인 경우 ‘C’
            grade = 'C'
        else:
            if score >= 60:  # 70 미만 60 이상인 경우 ‘D’
                grade = 'D'
            else:            # 60 미만인 경우 ‘F’
                grade = 'F'

print('당신의 등급은 :', grade)

# 코드 3-17 : if-elif-else 문으로 구성된 등급계산기
## if_elif_grade.py

In [ ]:
score = int(input('점수를 입력하세요 : '))

if score >= 90:    # 90 이상인 경우 'A'
    grade = 'A'
elif score >= 80:  # 'A'가 아닌 경우, 80 이상이면 'B'
    grade = 'B'
elif score >= 70:  # 'B'도 아닌 경우, 70 이상이면 'C'
    grade = 'C'
elif score >= 60:  # 'C'도 아닌 경우, 60 이상이면 'D'
    grade = 'D'
else:              # 그 외의 경우 'F'
    grade = 'F'
    
print('당신의 등급은 :', grade)

# 코드 3-18 : print() 함수의 호출을 통한 반복적 수행
## print_welcome.py

In [ ]:
print('Welcome to everyone!!')
print('Welcome to everyone!!')
print('Welcome to everyone!!')
print('Welcome to everyone!!')
print('Welcome to everyone!!')

# 코드 3-19 : for문을 이용한 반복적 수행
## print_welcome_with_for1.py

In [ ]:
for i in range(5):
    print('Welcome to everyone!!')

In [ ]:
for i in range(10):
    print('Welcome to everyone!!')

# 코드 3-20 : for문을 이용한 반복적 수행 - 10회 수행
## print_welcome_with_for2.py

In [ ]:
for i in range(10):
    print(i, 'Welcome to everyone!!')

## 대화창 실습 : range()함수의 활용과 리스트

In [ ]:
list(range(5))           # 0에서 4사이의 정수열을 생성

In [ ]:
list(range(0, 5))        # list(range(5))와 동일한 결과

In [ ]:
list(range(0, 5, 1))     # list(range(0, 5))와 동일한 결과

In [ ]:
list(range(0, 5, 2))     # 생성하는 값을 2씩 증가시킴

In [ ]:
list(range(2, 5))        # 2에서 5-1까지의 연속된 수 2, 3, 4을 생성

In [ ]:
list(range(0, 10, 2))    # 0에서 9사이의 짝수 리스트 생성

In [ ]:
list(range(1, 10, 2))    # 0에서 9사이의 홀수 리스트 생성

In [ ]:
list(range(-2, -10, -2)) # 음수 간격값 -2,-4,-6,-8 출력

# 코드 3-21 : range() 함수를 이용한 for 문의 제어 
## for_in_range_test1.py

In [ ]:
# for in range 표현식
for i in range(5):
    print(i)

# 코드 3-22 : for문의 제어와 print() 함수의 end 키워드 인자 사용방법
## for_in_range_test2.py

In [ ]:
# for in range 표현식 1
for i in range(5):    
    print(i, end = ' ')

# for in range 표현식 2
for i in range(0,5):    
    print(i, end = ' ')

# 코드 3-23 : for 문의 제어와 print() 함수의 end 인자 사용방법
## for_in_range_test3.py

In [ ]:
# for in range 표현식 1
for i in range(5):    
    print(i, end = ' ')
print()

# for in range 표현식 2
for i in range(0, 5):    
    print(i, end = ' ')
print()

# 코드 3-24 : range() 함수를 이용한 for문의 제어와 간격값 사용법
## for_in_range_test4.py

In [ ]:
# 표현식 1 : 2에서 5-1까지 연속값 2, 3, 4 출력
for i in range(2, 5):
    print(i, end = ' ')
print()

# 표현식 2 : 간격 값을 사용하여 0, 2, 4, 6, 8 출력
for i in range(0, 10, 2):
    print(i, end = ' ')
print()

# 표현식 3 : 음수 간격 값 사용, -2,-4,-6,-8 출력
for i in range(-2, -10, -2):
    print(i, end = ' ')
print()

# 코드 3-25 : 연속적인 값의 생성과 누적 덧셈
## for_sum_ex1.py

In [ ]:
s = 0
for i in range(1, 11):
    s = s + i
    
print('1에서 10까지의 합:', s)

# 코드 3-26 : 누적 덧셈의 중간 결과 출력하기
## for_sum_ex2.py

In [ ]:
s = 0
for i in range(1, 11):
    s = s + i
    print('i = {}, s = {}'.format(i, s) )
    
print('1에서 10까지의 합:', s)

# 코드 3-27 : 사용자로부터 입력을 받은 후 누적 합계 값 구하기
## for_sum_input1.py

In [ ]:
n = int(input('합계를 구할 수를 입력하세요 : '))
s = 0

for i in range(0, n) :    
    s = s + (i+1)

print('1부터 {}까지의 합은 {}'.format(n, s))

# 코드 3-28 : 사용자로부터 입력을 받은 후 누적 합계 값 구하기
## for_sum_input2.py

In [ ]:
n = int(input('합계를 구할 수를 입력하세요 : '))
s = 0

for i in range(1, n+1) :    
    s = s + i

print('1부터 {}까지의 합은 {}'.format(n, s))

# 코드 3-29 : for 반복문을 이용한 5 팩토리얼(5!) 계산
## for_factorial.py

In [ ]:
n = int(input('수를 입력하세요 : '))
fact = 1
for i in range(1, n+1):
    fact = fact * i
    
print('{}! = {}'.format(n, fact))

# 코드 3-30 : for문을 이용한 리스트의 정수 객체 순회
## for_in_numbers.py

In [ ]:
numbers = [11, 22, 33, 44, 55, 66]

for n in numbers:    
    print(n, end = ' ')

# 코드 3-31 : for문을 이용한 리스트의 실수 객체 순회
## for_in_f_numbers.py

In [ ]:
f_numbers = [1.1, 2.5, 3.7, 5.6, 9.2, 11.3, 6.8]

for f in f_numbers:
    print(f, end = ' ')

# 코드 3-32 : for문을 이용한 리스트의 문자열 객체 순회
## for_in_str_list.py

In [ ]:
summer_fruits = ['수박', '참외', '체리', '포도']

for fruit in summer_fruits:    
    print(fruit, end = ' ')

# 코드 3-33 : 리스트 항목내 정수 값들의 누적 덧셈
## for_sum1.py

In [ ]:
numbers = [10, 20, 30, 40, 50]
s = 0
for n in numbers:    
    s = s + n
    
print('리스트 항목 값의 합 :', s)

# 코드 3-34 : sum() 함수의 사용
## for_sum2.py

In [ ]:
numbers = [10, 20, 30, 40, 50]

print('리스트 항목 값의 합 :', sum(numbers))

## 대화창 실습 : 대화형 모드를 통한 1에서 100까지의 합

In [ ]:
print('1에서 100까지의 합 :', sum(range(1, 101)))

## 대화창 실습 : 대화형 모드를 통한 str 자료형의 리스트화

In [ ]:
st = 'Hello'
list(st)

# 코드 3-35 : for 반복문에서 문자열의 사용
## for_in_hello.py

In [ ]:
for ch in 'Hello':
    print(ch, end = ' ')

# 코드 3-36 : 중첩 for문을 사용한 구구단 출력
## double_for.py

In [ ]:
for i in range(2,10):                # 외부 for 루프
    for j in range(1,10):            # 내부 for 루프
        print('{}*{} = {:2d}'.format(i, j, i*j), end = '  ')
    print()         # 내부 루프 수행 후 줄바꿈을 함

# 코드 3-37 : 이중 for 루프를 사용한 패턴 생성하기
## double_for_pattern.py

In [ ]:
n = 7
for i in range(n):       # 외부 for 루프는 n번 수행, i는 0,1,2,3,4,5,6 까지 증가
    st = ''
    for j in  range(i):  # 내부 for 루프는 i번 수행
        st = st + ' '    # 공백을 i개 추가함
    print(st + '#')      # 공백 추가 후 '#'출력

# 코드 3-38 : for 루프와 *를 사용한 패턴 생성하기
## for_pattern.py

In [ ]:
n = 7
for i in range(n):        # 외부 for 루프는 n번 수행, i는 0,1,2,3,4,5,6 까지 증가 
    print (' ' * i + '#') # 공백을 i번 추가한 후 '#'출력

# 코드 3-39 : 4, 3, 2, 1, 0을 순서대로 출력하는 프로그램
## pattern_test1.py

In [ ]:
n = 5
for i in range(n):                  # i는 0,1,2,3,4 까지 증가
    print(n - (i + 1), end = ' ')   # n이 5이므로 n-(i+1)은 4,3,2,1,0이 됨

# 코드 3-40 : 1, 3, 5, 7, 9를 순서대로 출력하는 프로그램
## pattern_test2.py

In [ ]:
n = 5
for i in range(n):                # i는 0,1,2,3,4 까지 증가
    print(2 * i + 1, end = ' ')   # 2 * i + 1은 1,3,5,7,9가 됨

# 코드 3-41 : 삼각형 패턴을 출력하는 기능
## triangle_pattern1.py

In [ ]:
n = 5
for i in range(n):
    for j in range(n - (i + 1)): # 공백을 출력함
        print(' ', end = '')
    for j in range(2 * i + 1):   # ‘+’를 출력함
        print('+', end = '')
    print()

# 코드 3-42 : 삼각형 패턴을 출력하는 기능을 가진 짧은 코드
## triangle_pattern2.py

In [ ]:
n = 5
for i in range(n):
    print(' ' * (n - (i + 1)), end = '')
    print('+' * (2 * i + 1))

In [ ]:
n = int(input('수를 입력하세요 :'))
is_prime = True
for num in range(2, n):   # 2~(n-1) 사이의 수 num에 대하여
    if n % num == 0:      # 이 수 중에서 n의 약수가 있으면        
        is_prime = False  # 소수가 아님

print(n,'is prime :', is_prime)

# 코드 3-43 : 2부터 100까지의 소수 구하기
## get_primes.py

In [ ]:
# 소수를 담을 리스트 초기화
primes = []

for n in range(2, 101):
    # 일단 n을 소수라고 두자
    is_prime = True    
    for num in range(2, n):     # 2~(n-1) 사이의 수 num에 대하여
        if n % num == 0:        # 이 수 중에서 n의 약수가 있으면        
            is_prime = False    # 소수가 아님
    
    if is_prime:                # 소수일 경우 primes라는 리스트에 추가한다
        primes.append(n)        # append() 메소드는 리스트에 n을 추가함
        
print(primes)

# 코드 3-44 : for문을 이용한 'Welcome to everyone!!'의 반복 출력기능
## print_welcome_with_for.py

In [ ]:
for i in range(5):
    print('Welcome to everyone!!')

# 코드 3-45 : while문을 이용한 'Welcome to everyone!!'의 반복 출력기능
## print_welcome_with_while.py

In [ ]:
i = 0  # 초기 값
while i < 5:    # 루프의 조건식이 참이면 내부 블록이 실행됨
    print('Welcome to everyone!!')
    i += 1      # 조건 값의 변경

# 코드 3-46 : 지정된 수까지의 누적 합을 구하는 기능
## while_sum_input.py

In [ ]:
n = int(input('합계를 구할 수를 입력하세요 : '))
s = 0
i = 1
while i <= n:    
    s = s + i
    i += 1
    
print('1부터 {}까지의 합은 {}'.format(n, s))

# 코드 3-47 : while 반복문을 이용한 가위, 바위, 보 선택하기
## rsp_input.py

In [ ]:
selected = None
while selected not in ['가위', '바위', '보']:
    selected = input('가위, 바위, 보 중에 선택하세요> ')

print('선택한 값은:', selected)

# 코드 3-48 : 양수 n을 입력받아 1부터 n까지의 합을 구하는 코드
## for_sum_input2.py

In [ ]:
n = int(input('합계를 구할 양의 정수를 입력하세요  : '))
s = 0

for i in range(1, n+1) :    
    s = s + i

print('1부터 {}까지의 합은 {}'.format(n, s))

# 코드 3-49 : 1부터 n까지의 합을 구하는 코드로 while문 내에서 입력문 사용
## for_sum_input2_1.py

In [ ]:
n = -1
while n <= 0: # 양수가 입력될 때 까지 input() 문을 반복 수행함
    n = int(input('합계를 구할 양의 정수를 입력하세요 : '))

s = 0
for i in range(1, n+1) :    
    s = s + i

print('1부터 {}까지의 합은 {}'.format(n, s))

# 코드 3-50 : break를 사용하여 모음이 나타나면 반복문을 종료하는 기능 
## skip_vowel_break.py

In [ ]:
st = 'Programming'

# 자음이 나타나는 동안만 출력하는 기능
for ch in st:
    if ch in ['a','e','i','o','u']:
        break    # 모음일 경우 반복문을 종료한다.
    print(ch)
    
print('The end')

# 코드 3-51 : continue를 사용하여 모음일 경우 출력을 건너뛰는 기능
## skip_vowel_continue.py

In [ ]:
st = 'Programming'

# 자음이 나타날때만 출력하는 기능
for ch in st:
    if ch in ['a','e','i','o','u']:
        continue  # 모음일 경우 아래 출력을 건너뛴다
    print(ch)
    
print('The end')